<div class="wrapper">
    <div class="home-wrap">
        <div class="home-content">
            <div class="heading">
                <h1>Welcome to Home</h1>
            </div>
            <div class="home-inner">
                <div class="title">
                    <h1>Hello, <span class="userName" [innerHTML]="user.firstName + ' ' +user.lastName"></span></h1>
                </div>
                <div class="role">
                    <h1>You have user role.</h1>
                </div>
                <div class="detail">
                    <h2>Your email:{{user.email}}</h2>
                </div>
                <div class="button-wrap">
                    <button type="button" class="logoutBtn" (click)="logOut()">Logout</button>
                </div>
            </div>
        </div>
    </div>
</div>